body {
  margin: 0;
  font-family: 'Segoe UI';
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.3s;
}

.light {
  background: #f1f5f9;
  color: black;
}

.container {
  width: 450px;
  padding: 20px;
  background: rgba(255,255,255,0.05);
  border-radius: 15px;
}

.top-controls {
  display: flex;
  justify-content: space-between;
}

.progress-bar {
  height: 6px;
  background: #333;
  margin: 10px 0;
  border-radius: 10px;
}

#progress {
  height: 100%;
  width: 0%;
  background: cyan;
  border-radius: 10px;
  transition: 0.3s;
}

.stats {
  margin-bottom: 10px;
}

#answers button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.correct { background: green; }
.wrong { background: red; }

#nextBtn {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

.hidden { display: none; }

ul {
  padding: 0;
}

li {
  list-style: none;
}
